* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Top bar styling*/

.nav-container {
    top: 0;
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    display: inline-flex;
    background-color: blueviolet;
    color: white;
}

.nav-container ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-container a {
    text-decoration: none;
    color: white;
}

.search {
    margin: auto;
}

.search input {
    width: 400px;
    height: 30px;
}

.search button {
    height: 30px;
    width: 30px;
}

.profile {
    text-decoration: none;
    color: white;
}

/*Main content styling*/

.home-section {
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
}

.home-section h1 {
    font-size: 5rem;
}

/*Carousel section*/

.carousel-container {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px;
}

.carousel-container button {
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    margin-top: 150px;
}

.mySlides {
    display: none;
}

/*Recomended section*/

.home-section p {
    font-size: 2rem;
}

.recommended {
    display: inline-flex;
    justify-content: center;
}

.recommended a {
    margin: 15px;
    width: 100%;
}

.recommended img {
    width: 25%;
    margin: 15px;
}

/*Channel stream*/

.stream-and-chat {
    display: inline-flex;
    margin: 15px;
    align-content: center;
    justify-content: center;
}

.stream-and-chat img {
    width: 85%;
}

.chat {
    background-color: gray;
    margin-left: 10px;
    padding: 10px;
    font-size: 1.5rem;
    width: 500px;
}

.stream-title {
    margin-left: 15px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 3rem;
}

/*Profile view*/

.two-column-profile-view {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom:50px;
    margin-left: 70px;
    margin-right: 50px;
}

.left-column {
    flex-basis: 48%;
}

.left-col img {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right-col {
    flex-basis: 48%;
}

.right-col h3, p {
    font-size: 3rem;
}