* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Top bar styling*/

.nav-container {
    top: 0;
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    display: inline-flex;
    background-color: blueviolet;
    color: white;
}

.nav-container ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-container a {
    text-decoration: none;
    color: white;
}

.search {
    margin: auto;
}

.search input {
    width: 400px;
    height: 30px;
}

.search button {
    height: 30px;
    width: 30px;
}

.profile {
    text-decoration: none;
    color: white;
}

/*Main content styling*/

.home-section {
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
}

.home-section h1 {
    font-size: 5rem;
}

/*Carousel section*/

.carousel-container {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px;
}

.carousel-container button {
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    margin-top: 150px;
}

.mySlides {
    display: none;
}

/*Recomended section*/

.home-section p {
    font-size: 2rem;
}

.recommended {
    display: inline-flex;
    justify-content: center;
}

.recommended a {
    margin: 15px;
    width: 100%;
}

.recommended img {
    width: 25%;
    margin: 15px;
}

/*Channel stream*/
.stream-and-chat {
    display: inline-flex;
}

.stream-and-chat img {
    width: 75%;
}